* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Typewriter';
    letter-spacing: 1px;
}

@font-face {
    font-family: 'Typewriter';
    src: url(../images/fonte/JMH\ Typewriter-Thin.ttf);
}

/*****************HEADER*****************/
#topo {
    background-color: #2C3639;
    
}


#logo {
    background-color: #00000000;
    background-image: url(../images/);
    width: 100px;
    height: 100px;
}

/*****************NAV*****************/
#menu {
    background-color: #3F4E4F;

}


/*****************MAIN*****************/
.destaques, .produtos, .sobre {
    background: #A27B5C;
    background-image: url(../images/);
    background-position: center;
    color: #1A120B;
    }


/*****************FOOTER*****************/
#rodape {
    background-color: #DCD7C9;
}

#rodape p {
    font-weight: 900;
    font-size: 50px;
    color: #3C2A21;
    text-align: center;
    text-decoration: solid;
}

a {
    text-decoration: none;
    color: #1A120B;

}

a:visited {
    color: antiquewhite;
}

a:hover {
    background-color: black;
    color: yellow;
    font-size: 30px;
}

/*****************PROPRIEDADES DE FONTES*****************/
/* font-family - altera família de fontes
/* font-style - Deixa a fonte itálica
/*
