* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*****************HEADER*****************/
#topo {
    background-color: #4f4f4f;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: red;
}

#menu {
    
}


#logo {
    background-color: black;
    background-image: url(../images/);
    background-repeat:  no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
}

/*****************NAV*****************/
#menu {
    background-color: #858585;
}


/*****************MAIN*****************/
.destaques, .produtos, .sobre {
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(62,62,162,1) 35%, rgba(0,255,214,1) 100%);
}


/*****************FOOTER*****************/
#rodape {
    background-color: #2c2c2c;
}

#rodape p {
    font-weight: 900;
    font-size: 50px;
    color: white;
    text-align: center;
    text-decoration: solid;
}

/*****************PROPRIEDADES DE FONTES*****************/
/* font-family - altera família de fontes
/* font-style - Deixa a fonte itálica
/*
