* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;

    font-family: 'Typewriter';
}

@font-face {
    font-family: 'Typewriter';
    src: url(../images/fonte/JMH\ Typewriter-Thin.ttf);
}

/*****************HEADER*****************/
#topo {
    background: rgb(44,54,57);
    background: linear-gradient(180deg, rgba(44,54,57,1) 0%, rgba(50,76,84,1) 61%, rgba(162,123,92,1) 100%);
    justify-content: flex-start;
}

#titulo {
    width: max-content; height: max-content;
    text-align: center;
}

#logo {
    background-image: url(../images/tree.png);
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
}

/*****************NAV*****************/
#menu {
    background-color: #3F4E4F;
    text-align: center;
    padding: 5px;
    position: relative;
}

#pesquisa {
    width: max-content; height: max-content;
}

#b-pesquisa {
    width: max-content; height: max-content;
}


/*****************MAIN*****************/
.destaques, .produtos, .sobre, .contato{
    background: rgb(162,123,92);
background: radial-gradient(circle, rgba(162,123,92,1) 64%, rgba(60,42,33,1) 100%);
    background-position: center;
    color: #1A120B;
    text-align: center;
    }

.area-galeria {
    align-items: center;
    justify-content: center;
    
}

/*****************FOOTER*****************/
#rodape {
    background-color: #DCD7C9;
    text-align: center;
}

#rodape p {
    font-weight: 900;
    font-size: 50px;
    color: #3C2A21;
    text-align: center;
    text-decoration: solid;
}

img.hover {
    size: 50px;
}


li {
    color: #00000000;
}

a {
    text-decoration: none;
    color: #1A120B;

}

a.menu:visited {
    color: #1A120B;;
}

a.menu:hover {
    background-color: #1A120B;;
    color: #D5CEA3;
    font-size: 30px;
}


/*****************PROPRIEDADES DE FONTES*****************/
/* font-family - altera família de fontes
/* font-style - Deixa a fonte itálica
/*
